/* RESET */
html, body, section, div, button, canvas {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

li {
  list-style: none;
}

body {
  background-color: white;
  width: 100vw;
}

button {
  border: 1px solid black;
  border-radius: 5%;
  padding: 10px;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px blue;
}

.outer-wrapper {
  margin: 0 auto;
  width: 90%;
  min-width: 700px;
  background-color: grey;
  display: flex;
  flex-direction: row;
}

#canvas-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
}

#fractal, #grid {
  left: 10%;
  z-index: 1;
  position: absolute;
}

#grid {
  z-index: 2;
}

.control-panel {
  width: 600px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}

.zoom button {
  border: 1px solid black;
  padding: 20px;
}

.zoom h3, h5 {
  font-size: 22px;
  width: 40%;
}

.zoom h5 {
  font-size: 22px;
  width: 120px;
}
.slide, .zoom {
  background-color: orange;
  width: 280px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  position: relative;
}

.top, .middle, .bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top, .bottom {
  height: 110px;
}

.middle {
  height: 180px;
}

#color-picker {
  width: 100px;

  // li {
  //   padding: 10px;
  // }
}

#color-picker li {
  padding: 10px;
}

#center-display {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#slide-up {
  width: 75px;
  height: 50px;
  background: url('./images/up_arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#slide-left {
  width: 50px;
  height: 75px;
  background: url('./images/left_arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#slide-right {
  width: 50px;
  height: 75px;
  background: url('./images/right_arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#slide-down {
  width: 75px;
  height: 50px;
  background: url('./images/down_arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
