/* RESET */
html, body, section, div, button, canvas {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  background-color: white;
  width: 100vw;
}

button {
  border: 1px solid black;
  border-radius: 5%;
  padding: 10px;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px blue;
}

.outer-wrapper {
  margin: 0 auto;
  width: 90%;
  min-width: 600px;
  background-color: grey;
  position: relative;
  text-align: center;
}

#fractal, #drag, #grid {
  position: absolute;
  left: 10%;
  z-index: 1;
}
#drag {
  z-index: 3;
}
#grid {
  z-index: 2;
}

#grid-on-off {
  position: relative;
  top: 500px;
}

.slide-control {
  background-color: orange;
  width: 300px;
  height: 250px;
  top: 500px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  position: relative;
}

.top, .middle, .bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top, .bottom {
  height: 110px;
}

.middle {
  height: 180px;
}

#center-display {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#slide-up {
  width: 75px;
  height: 50px;
  background: url('./images/up_arrow.png') no-repeat;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

#slide-left {
  width: 50px;
  height: 75px;
  background: url('./images/left_arrow.png') no-repeat;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

#slide-right {
  width: 50px;
  height: 75px;
  background: url('./images/right_arrow.png') no-repeat;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

#slide-down {
  width: 75px;
  height: 50px;
  background: url('./images/down_arrow.png') no-repeat;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
