/* RESET */
html, body, section, div, button, canvas, li, ul, label,
h3, h4, h5 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Layout and General */

body {
  background-color: hsla(0,0%,83%,1);
  background-image: linear-gradient(-45deg, hsla(0,0%,0%,0), hsla(0,0%,0%,.05) );
  background-size: 5px;
  width: 100vw;
  min-width: 840px;
  font-family: 'Scada', sans-serif;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: black;
  font-style: italic;
  font-size: 48px;
  color: hsla(0, 0%, 10%, 0.7);
}

button, .link {
  border: 1px solid black;
  border-radius: 8%;
  padding: 10px;
  transition: all .1s ease-in-out;
}

button:hover, .link:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px hsla(187, 97%, 0%, .4);
  transform: scale(1.05);
}

button:active, .link:active {
  color: hsla(187, 97%, 25%, 1);
  box-shadow: 1px 1px 1px 1px hsla(187, 97%, 73%, 0.72);
}

.outer-wrapper {
  max-width: 900px;
  padding-top: 20px;
  text-align: center;
  width: 80%;
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;

  background-color: hsl(0,0%,40%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 4px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */

    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */
  margin: 0 auto;
  min-width: 675;
}

.wrapper {
  margin: 0 auto;
  padding: 15px;
  min-width: 700px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main {
  margin: 10px;
  flex-direction: column;
  align-items: stretch;
}

#canvas-wrapper, .zoom, .slide, .buttons, .color-picker {
  border: solid 3px hsla(0, 0, 6%, 58%);
  border-radius: 8%;
}

.zoom, .slide, .buttons, .color-picker, .link {
  background-image:
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    linear-gradient(180deg, hsl(0,0%,78%)  0%, hsl(0,0%,90%) 47%, hsl(0,0%,78%) 53%, hsl(0,0%,70%)100%);

    border: 2px solid #444;
    box-shadow: 1px 2px #222;
}

/* Specific Styles */

#canvas-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

#fractal, #grid, #click {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

#grid {
  z-index: 2;
}

#click {
  z-index: 3;
}

.control-panel {
  margin: 20px 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.download-image {
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.download-image a {
  height: 45px;
  display: flex;
  align-items: center;
}

.gh-ln-modal {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color-picker {
  width: 100%;
}

.zoom button {
  border: 1px solid black;
  padding: 20px;
}

.zoom h3, h5 {
  font-size: 18px;
}

.slide, .zoom {
  width: 240px;
  height: 150px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  position: relative;
}

.top, .middle, .bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top, .bottom {
  height: 110px;
}

.zoom .bottom {
  justify-content: space-around;
}

.middle {
  height: 180px;
}

.side-panel {
  margin: 0 10px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-around;
}

.buttons, .color-picker {
  width: 90%;
}

.buttons {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.side-panel .buttons button {
  width: 80%;
}

.color-picker {
  margin-top: 20px;
  height: 60%;
}

.color-picker h4{
  margin-top: 10px;
  font-size: 1.2em;
}

.color-picker button {
  font-size: 0.8em;
}

.color-picker li {
  border-radius: 8%;
  border: 1px solid black;
  padding: 8px;
  margin: auto;
  margin-top: 5px;
  font-size: 0.8em;
  width: 80%;
}

.color-picker li div {
  margin-left: 5px;
  color: #AAA;
  display: inline-block;
}

.color-picker li div:hover {
  cursor: pointer;
  color: white;
}

.color-picker form {
  box-sizing: border-box;
  border-radius: 8%;
  border: 2px solid hsla(0,0,0);
  padding: 10px;
  width: 100%;
}

.color-picker > form label {
  padding-top: 12px; /* STILL TRYING TO MAKE THESE BREATHE */
}

.color-picker > form label input {
  width: 80%;
  text-align: center;
}

.color-input {
  margin-top: 20px;
}

.link {
  border-radius: 12%;
  padding: 10px 10px 6px 10px;
}

#add-colors {
  width: 90%;
}

#center-display {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#slide-up, #slide-down, #slide-left, #slide-right {
  padding: 5px;
}

#slide-up {
  width: 45px;
  height: 30px;
  background: url('./images/up_arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#slide-left {
  width: 30px;
  height: 45px;
  background: url('./images/left_arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#slide-right {
  width: 30px;
  height: 45px;
  background: url('./images/right_arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#slide-down {
  width: 45px;
  height: 30px;
  background: url('./images/down_arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* background for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 70%;
}

.modal-content {
  font-size: 16px;
}

.modal-content em {
  font-weight: bolder;
}

.modal-content p a {
  margin: 0 auto; /* STILL LOOKING FOR A WAY TO CENTER THIS */
}

.modal-content p {
  line-height: 1.8em;
  margin: auto;
  margin-top: 20px;
  width: 80%;
  text-align: left;
}

.modal-content h3 {
  font-size: 24px;
}

.wiki-link {
  text-align: center;
}
/* close Button */
#close {
    color: #777;
    float: left;
    font-size: 28px;
    font-weight: bolder;
}

#close:hover {
  color: #333;
  cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
